.sidebar{
    width: 230px;
    height: 100%;
    overflow-y: auto;
    background-color: #001628;
}

#detail{
    flex: 1;
}

.main-icon{
    font-size: 30px;
    margin: 0 auto;
    text-align: center;
    padding: 5px 0;
    color: #ffffff;
}

.head-bread-crumb{
    padding: 10px 20px;
}